* {
  box-sizing: border-box;
}
body {
  height: 2000px;
  position: relative;
}
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 920px;
  background-image: url(../images/5.jpg);
  background-attachment: fixed;
}
.container {
  max-width: 1170px;
  height: 60px;
  margin: auto;
}
.navbar-fixed-top {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 4000;
}
.navbar-dark .navbar-nav .active>.nav-link {
  color: #EE3B24;
}
/*Должно добавляться контейнеру наву при небольшом скроле вниз.*/
.sticky-menu {
  /*background: rgba(0, 0, 0, 0.75);*/
  /*transition: all 0.3s ease-out;*/
}

.header-area {
  width: 100%;
  height: 920px;
  color: white;
  position: relative;
}
.btn {
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: bold;
  line-height: 1.4;
}
.btn:hover,
.btn:active {
  color: white;
  background-color: #EE3B24;
}
.btn:focus {
  box-shadow: none;
}
.btn, input[type='submit'] {
  background: transparent;
  border: 2px solid #EE3B24;
  color: #EE3B24;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}
.btn__dark, input[type='submit'] {
  background: #EE3B24;
  border: 2px solid #EE3B24;
  color: white;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  margin-right: 20px;
}
.btn__dark:hover,
.btn__dark:active {
  color: #EE3B24 !important;
  background-color: transparent !important;
  transition: 0.3s !important;
  -moz-transition: 0.3s !important;
  -webkit-transition: 0.3s !important;
}
.btn__dark:focus {
  box-shadow: none;
}
.section-title {
  width: 100%;
}
.section-title h2 {
  margin-bottom: 20px;
}
.section-title p {
  position: relative;
  padding-top: 20px;
}
.section-title p:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 2px;
  background-color: #ee3b24;
}
.my-photo {
  background-image: url(../images/8.jpg);
  height: 550px;
  background-size: cover;
}
.article-about-me {
  font-size: 17px;
}
.contact-info {
  list-style-type: none;
  font-size: 17px;
}
.contact-info-item-circle {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 15px;
  display: inline-block;
  text-align: center;
  border: 1px solid #ee3b24;
  border-radius: 50%;
  color: #ee3b24;
}
.contact-info-item p {
  line-height: 40px;
}
.contact-info li p {
  line-height: 40px;
}
.btn-hire-me {
  color: black;
  font-weight: bold;
  background: transparent;
}
.btn:active,
.btn:hover {
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  background: #ee3b24;
  color: white;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}
.my-skills-area {
  height: 571px;
  width: 100%;
  position: relative;
  color: white;
}
.my-skills-area__bg-image {
  background-image: url(../images/2.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  max-height: 571px;
  background-position: center center;
}
.my-skills-area::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.7);
}
.my-skills-area__title {
  color: white;
  position: relative;
}
.my-services-area {
  height:  500px;
  width: 100%;
}
.skill-title {
  font-size: 19px;
}
.skill-item {
  position: relative;
}
.skill-counter {
  position: absolute;
  font-size: 19px;
  right: 0;
  top: 10px;
}
.progress-bar-style {
  background-color: #ee3b24;
}
.progress-bar__bg-dark {
  background-color: black;
}
.services-list-item-logo {
  float: left;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 15px;
  display: inline-block;
  text-align: center;
  border: 1px solid #ee3b24;
  border-radius: 50%;
  color: #ee3b24;
  font-size: 25px;
}
.services-list-item p {
  overflow: hidden;
  line-height: 2;
}
.work-process-area {
  height: 571px;
  width: 100%;
  position: relative;
  color: white;
}
.work-process-area__bg-image {
  background-image: url(../images/2.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  max-height: 571px;
  background-position: center center;
}
.work-process-area::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.7);
}
.work-process-area__title {
  color: white;
  position: relative;
}
.work-process__item-circle {
  background-color: #ee3b24;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  border: 1px solid #ee3b24;
  position: relative;
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}
.work-process__item p {
  line-height: 1.8;
  font-size: 18px;
}
.work-process__item::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 80px;
  border-bottom: 3px dashed #ee3b24;
  width: 100px;
  height: 3px;
}
.work-process__item-arrow {
  position: absolute;
  top: 14px;
  right: 65px;
  color: #ee3b24;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
}

